{% extends "index.html" %}
{% block content%}
<div role="main" class="main shop pt-4">
				<div class="container">
					<div class="row">
						<div class="col-md-5 mb-5 mb-md-0">

						</div>
                        <div class="row">
						<div class="col-md-5 mb-5 mb-md-0">

							<div class="thumb-gallery-wrapper">
							<a href="{{url_for('static', filename='img/products/' + pdata[3])}}" target="_blank">
										<img alt="" class="img-fluid" src="{{url_for('static', filename='img/products/' + pdata[3])}}" data-zoom-image="img/products/product-grey-7.jpg">	
										</a>
							</div>
						</div>
						<div class="col-md-7">
							<div class="summary entry-summary position-relative">	
								<h1 class="mb-0 font-weight-bold text-7">{{pdata[1]}}</h1>
								<div class="pb-0 clearfix d-flex align-items-center">
									<div title="Rated 3 out of 5" class="float-start">
										<input type="text" class="d-none" value="3" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'primary', 'size':'xs'}">
									</div>
								</div>
								<div class="divider divider-small">
									<hr class="bg-color-grey-scale-4">
								</div>
								<p class="price mb-3">
									<span class="sale text-color-dark">${{pdata[5]}}.00</span>
									<span class="amount">${{(pdata[5]|float * 1.20)|int}}.00</span>
								</p>
								<p class="text-3-5 mb-3">{{pdata[2]}}</p>
								<ul class="list list-unstyled text-2">
									<li class="mb-0">AVAILABILITY: <strong class="text-color-dark">{{pdata[4].upper()}}</strong></li>
									 {% if pdata[4] != 'in'%}
									<li class="mt-2"><a href="#" onclick="toggleVisible(); return False;"><strong class="text-color-dark" id="returning">Returning?</strong></li></a>
								</ul>
								<script type="text/javascript">
                             function toggleVisible() {
  							var x = document.getElementById("return");
  								if (x.style.display === "none") {
    									x.style.display = "block";
  								} else {
    									x.style.display = "none";
  																}
												}
                                   </script>
								   {% elif pdata[4] != 'out'%}
								<form enctype="multipart/form-data" method="POST" class="cart" action="#">
									<hr>
                                    <ul class="list list-unstyled text-2">
									<strong class="text-color-dark">How Many Days?</strong></li>
								    </ul>
									<div class="quantity quantity-lg">
										<input type="button" class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="-">
										<input type="text" class="input-text qty text" id="days" title="Qty" value="1" name="quantity" min="1" step="1">
										<input type="button" class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="+">
									</div>
									<button type="submit"name="submit_button" value="Checkout" class="btn btn-dark btn-modern text-uppercase bg-color-hover-primary border-color-hover-primary">Check Out</button>
								</form>
								   {% endif %} 
									<hr>
									<div class="d-flex align-items-center mb-4">
									<ul class="social-icons social-icons-medium social-icons-clean-with-border social-icons-clean-with-border-border-grey social-icons-clean-with-border-icon-dark me-3 mb-0">
										<!-- Facebook -->
										<li class="social-icons-facebook">
											<a href="http://www.facebook.com/sharer.php?u=https://www.okler.net" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share On Facebook">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<!-- Google+ -->
										<li class="social-icons-googleplus">
											<a href="https://plus.google.com/share?url=https://www.okler.net" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share On Google+">
												<i class="fab fa-google-plus-g"></i>
											</a>
										</li>
										<!-- Twitter -->
										<li class="social-icons-twitter">
											<a href="https://twitter.com/share?url=https://www.okler.net&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share On Twitter">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<!-- Email -->
										<li class="social-icons-email">
											<a href="mailto:?Subject=Share This Page&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://www.okler.net" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share By Email">
												<i class="far fa-envelope"></i>
											</a>
										</li>
									</ul>
									<a href="#" class="d-flex align-items-center text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-2">
										<i class="far fa-heart me-1 ml-1 mr-1"></i> SAVE TO WISHLIST
									</a>
								</div>
								<div class="card mb-2"style="display:none"id="return">
									<div class="card-body">
										<div class="row">
											<div class="col">
											  	<form class="contact-form" enctype="multipart/form-data" action="#" method="POST">
													<div class="row">
													</div>
													<div class="row">
														<div class="form-group col">
															<label class="form-label mb-1 text-2"> Which Store?</label>
															<div class="custom-select-1">
													      		<select class="form-select form-control h-auto py-2" data-msg-required="Please select a store." name="store" required>
													        		<option value="">Choose...</option>
																	{% for item in ldata%}
													        		<option value="{{item[0]}}">{{item[1]}} , {{item[2]}}</option>
																	{% endfor %}
													      		</select>
													      	</div>
														</div>
													</div>
													<div class="row">
														<div class="form-group col">
															<label class="form-label mb-1 text-2">Date of Return</label>
															<input type="text" data-format="**-**-****" data-mask="MM-DD-YYYY" value="" maxlength="12" class="form-control text-3 h-auto py-2" name="returndate" required>
														</div>
													</div>
												<div class="row">
														<div class="form-group col">
															<input type="submit" name="submit_button" value="Return" class="btn btn-dark btn-modern text-uppercase bg-color-hover-primary border-color-hover-primary">
														</div>
											   </div>
								          </form> 
							</div>
						</div>
					</div>
				</div>
		     </div>
			 </div>
	     </div>
		 </div>
	</div> 
{% endblock %}