{% extends "index.html" %}
{% block content%}
			<div role="main" class="main shop pt-4">
				<div class="container">
					<div class="masonry-loader masonry-loader-showing">
						<div class="row products product-thumb-info-list" data-plugin-masonry data-plugin-options="{'layoutMode': 'fitRows'}">
                        {% for item in data%}
							<div class="col-12 col-sm-6 col-lg-3">
								<div class="product mb-0">
									<div class="product-thumb-info border-0 mb-3">
										<div class="product-thumb-info-badges-wrapper">
										</div>
										<a href="{{url_for('views.checkout', id=item[0] - 1)}}">
											<div class="product-thumb-info-image product-thumb-info-image-effect">
												<img alt="" class="img-fluid" src="{{url_for('static', filename='img/products/' + item[3] )}}">
												<img alt="" class="img-fluid" src="{{url_for('static', filename='img/products/' + item[3] )}}">
											</div>
										</a>
									</div>
									<div class="d-flex justify-content-between">
										<div>
											<a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">{{item[12]}}</a>
											<h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary">{{item[1]}}</a></h3>
										</div>
									</div>
									<p class="price text-5 mb-3">
										<span class="sale text-color-dark font-weight-semi-bold">${{item[5]}}</span>
										<span class="amount">${{(item[5]|float * 1.20)|int}}</span>
									</p>
								</div>
							</div>
						   {% endfor %}
                        </div>
				</div>
		</div>
</div>
{% endblock %}